*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.first, .second {
    min-height: 100vh;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.first {
    background-image: url('first.JPG');
    background-size: cover;
}
.first span {
    font-family: Noto Serif, serif;
    font-size: 24px;
    padding: 10px;
    color: white;
    top: 450px;
    position: relative;
    left: 60px;
    background-color: #e74c3c;
}
.second {
    background-image: url('second.jpg');
    background-size: cover;
    background-position: center center;
}
.second span {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    font-family: Noto Serif, serif;
    font-size: large;
    position: relative;
    left: 70px;
    top: 450px;
}
@media all and (orientation: landscape), all and (min-width: 480px) {
    body {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
@media all and (orientation: portrait), all and (max-width: 480px) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media all and (orientation: portrait), all and (max-width: 480px) {
    span {
        font-size: xx-large;
    }
}
@media all and (orientation: portrait), all and (max-width: 480px) {
    .first span {
        top: 1050px;
        left: 60px;
    }
}
@media all and (orientation: portrait), all and (max-width: 480px) {
    .second span {
        left: 70px;
        top: 1000px;
    }
}
